.env
.idea/
.vscode/*
/nginx/logs/
web_api/.vscode/
web_ui/.vscode/
web_ui/deployment/
web_ui/db.sqlite3
web_ui/webui/local_endpoints.py

# Byte-compiled / optimized / DLL files
web_api/__pycache__/
web_ui/__pycache__/
__pycache__/
*.py[cod]
*$py.class