version: '3.4'
services:
    web-api:
        build: ./web_api
        restart: always
        ports:
            - ${PORT_API}:${PORT_API}
        command: gunicorn --reload -w 4  -b :${PORT_API} --env DJANGO_SETTINGS_MODULE=settings.${COMPOSE_PROJECT_NAME} wsgi
            
    web-ui:
        build: ./web_ui
        restart: always
        expose:
            - ${PORT_UI}
        command: gunicorn --reload -w 4  -b :${PORT_UI} --env DJANGO_SETTINGS_MODULE=settings wsgi
        environment: 
            - PORT_API
        depends_on:
            - web-api

    nginx:
        image: nginx:alpine
        restart: always
        volumes: 
            - ./nginx/nginx.conf.template:/nginx.conf.template
            - ./nginx/logs/:/var/log/nginx
        ports:
            - ${PORT_NGINX}:80
        environment: 
            - PORT_UI
        command: /bin/sh -c "envsubst '$$PORT_UI' < /nginx.conf.template > /etc/nginx/conf.d/default.conf && exec nginx -g 'daemon off;'"
        depends_on:
            - web-ui