{% extends 'webui/base.html' %}
{% load static %}
{% block title %}Ваш заказ{% endblock %}

{% block content %}

<h1>{{course_data.title}}</h1>
<p>Описание курса: {{course_data.description}}</p>

{% if login_user %}
    <form method="post">
        {% csrf_token %}
        {% if course_data.id not in request.session.user_courses %}
            <input type="hidden" name="subscribe" value="{{course_data.id}}">
            <button type="submit">Присоедениться к курсу</button>
        {% else %}
            <input type="hidden" name="unsubscribe" value="{{course_data.id}}">
            <button type="submit">Отписаться от курса</button>
        {% endif %}
    </form>
{% endif %}

{% for course_lesson in course_data.lessons %}
<ul>
    <li>
        <a href="{% url 'OrbitProject:course_lesson' course_data.course.id course_lesson.id %}">{{course_lesson.title}}</a>
    </li>
</ul>
{% endfor %}

{% endblock %}